<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465399502493-dn22m9s8hl8aricmgg5fstm0aim3dccr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465399502493-dn22m9s8hl8aricmgg5fstm0aim3dccr</string>
	<key>API_KEY</key>
	<string>AIzaSyC4W-adfYJsa-Y-zV421KQsnk8qZj9j87Q</string>
	<key>GCM_SENDER_ID</key>
	<string>465399502493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.elsys.FinancialTracker</string>
	<key>PROJECT_ID</key>
	<string>financialtracker-94182</string>
	<key>STORAGE_BUCKET</key>
	<string>financialtracker-94182.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465399502493:ios:07b154c07f2c9eefce6674</string>
</dict>
</plist>